spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecomers
    username: root
    password: Nirvanappa@1999
    driver-class-name: com.mysql.cj.jdbc.Driver

  application:
    name: user-service

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
